@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.login{
    text-align: center;
    padding: 120px 0;
    height: 50vh;
    justify-content: center;
    justify-items: center;
    border: 2px solid green;
    width: 20vw;
    border-radius: 20px;
}
.login #btn{
    background-color:green;
    border-radius: 30px;
    border:1px solid beige;
    padding: 10px;
}
.login #btn:hover{
    background-color: greenyellow;
}
.emp{
    display: flex;
    justify-content: space-between;
    justify-items: end;
    padding: 60px;
}
.emp h1{
    font-size: 3rem;
}
.emp button{
    border: 3px;
    background-color: red;
    width:5vw;
    height: 5vh;
    border-radius: 10%;

}
.emp button:hover{
    background-color: rgb(193, 106, 106);
}
.boxes{
    width: 100%;
    height: 20vh;
    justify-content: center;
    gap: 200px;
    display: flex;
}
.boxes .box{
    width: 200px;
    height: 70px;
    background-color: orange;
    /* text-align: center; */
border-radius: 12px;
}
.task{
    /* background-color: black; */
    width: 100vw;
    height: 40vh;
    /* position: relative; */
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    /* overflow-x: auto; */
}
.task .task-box{
    width:200px;
    background-color: yellow;
    height: 200px;

}
.task h2{
    background-color: red;
    border: 2px solid black;
    display: inline;
}
.task p{
   
    padding: 10px;
}
.admin{
    width: 100vw;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    padding-top: 25px;
    gap: 60vw;
    
}
.ff{
    padding-left: 100px;
}
textarea{
    width: 270px;
    height: 200px;
}
#btn2{
    padding: 6px;
    width: 18vw;
     position: relative;
    left: 400%;
    top: -250px;
    background: rgb(51, 238, 126);
}
#btn2:hover{
background-color: rgb(68, 167, 68);
}
.all-task{
    background-color: #1c1c1c;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 70px;
    padding-right: 20px;
     overflow-x: auto;

}
.oo{
    background-color: rgb(222, 5, 171);
    padding: 6px;
    display: grid;
    justify-content: space-between;
    margin: 20px;
    grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
   
}
.oo:nth-child(2){
    background-color: rgb(255, 200, 0);
    
}
.oo:nth-child(3){
    background-color: rgb(255, 200, 0);
}
.oo:nth-child(4){
    background-color: rgb(255, 200, 0);
}
.oo:nth-child(5){
    background-color:rgb(255, 200, 0);
}
.oo:nth-child(6){
    background-color:rgb(255, 200, 0);
}
.button-group{
    padding: 20px;
    gap: 15px;
    display: flex;
}
.button-group button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    /* background-color: rgb(255, 0, 0); */
}
.button-group button:first-child{
    background-color: rgb(84, 232, 84);
}
.button-group button:last-child{
    background-color: rgb(255, 0, 0);
}
#lbl{
    position: relative;
    left: 400%;
    top: -250px;
}
textarea{
     position: relative;
    left: 400%;
    top: -240px;
}
